	    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Единая Почта</h1>
                        <h3>Один аккаунт для приема писем от государства, счетов от коммунальных компаний и многое другое</h3>
                        <hr class="intro-divider">
                        <a href="login" class="btn btn-success" role="button">Войти</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->