<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>servlet.GetUserInfoServlet</servlet-name>
        <servlet-class>servlet.GetUserInfoServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>servlet.GetEmailsServlet</servlet-name>
        <servlet-class>servlet.GetEmailsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>servlet.SendMailServlet</servlet-name>
        <servlet-class>servlet.SendMailServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>servlet.OpenEmailServlet</servlet-name>
        <servlet-class>servlet.OpenEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet.LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>servlet.DownloadServlet</servlet-name>
        <servlet-class>servlet.DownloadServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>servlet.GetTokenServlet</servlet-name>
        <servlet-class>servlet.GetTokenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet.SubscribeServlet</servlet-name>
        <servlet-class>servlet.SubscribeServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>servlet.DeleteServlet</servlet-name>
        <servlet-class>servlet.DeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>servlet.GetUserInfoServlet</servlet-name>
        <url-pattern>/getUserInfo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>servlet.GetEmailsServlet</servlet-name>
        <url-pattern>/getEmails</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>servlet.SendMailServlet</servlet-name>
        <url-pattern>/sendMail</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>servlet.DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>servlet.OpenEmailServlet</servlet-name>
        <url-pattern>/openEmail</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>servlet.LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>servlet.GetTokenServlet</servlet-name>
        <url-pattern>/getToken</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>servlet.DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet.SubscribeServlet</servlet-name>
        <url-pattern>/subscribe</url-pattern>
    </servlet-mapping>
</web-app>